# General
.DS_Store
.AppleDouble
.LSOverride
.eggs
.env
.flaskenv

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#lock files
Pipfile.lock

__pycache__/
*.pyc
*.pyo


#user_created_files
output_txt.txt
resources
app/resources
docs/weathericons.json
app/static/img/input_0.png 

#other cache files
.cache.sqlite

