[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
pandas = "*"
pymupdf = "*"
pypdf2 = "*"
requests = "*"
pip = "*"
pypdf = "*"
pytest = "*"
googlemaps = "*"
install = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
