* {
    color: #203129;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F8F8F8;
    font-family: Arial, sans-serif;
}

#logo {
    height: 100%;
    color: white;
}

#logo-container {
    position:absolute;
    left: 20px;
    height: 65%;
    padding-top: 10px;
}

#head-main {
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-right: 70px;
    align-items: center;
    justify-content:end;
    position: sticky;
    top: 0px;
    z-index: 100;
}

#head-main::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li {
    list-style: none;
    margin: 0px 7px 0px 7px;
    margin-right: 20px;
}

#navbar li:last-child {
    margin-right: 0;
}

#navbar li a {
    text-decoration: none;
    padding: 0px 7px 0px 7px;
    color: white;
}

#navbar li a.special-btn {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
}

#navbar li a.special-btn:hover {
    opacity: 0.6;
}
 