{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
<section id="intro">
    <div class="intro_container">
        <div id="head">
            <a href="{{ url_for('main.upload') }}" id="use" class="btn">Use it now!</a>
            <a href="https://www.rawgraphs.io/" id="git" class="btn">Github</a>
        </div>
        <div id="punch">
            <h1>Welcome to NormanPD Incident Data Visualizer</h1>
            <p>This web application allows you to upload NormanPD incident reports in CSV or PDF format. It processes the data and provides various visualizations and analytics.</p>
        </div>
    </div>
</section>
<section id="gallery">
    <h2>Project Workflow</h2>
    <div class="Featuresgal">
        <div class="Feature" id="upload-feature">
            <img src="{{ url_for('static', filename='img/input_0.png') }}" alt="Upload Data">
            <h3>Upload data</h3>
            <p>Upload incident reports in CSV or PDF format or directly the URLs.</p>
            <div class="details">
                <p>Supported formats: CSV, PDF.</p>
                <p>Ensure the files follow the specified format.</p>
            </div>
        </div>
        <div class="Feature" id="process-feature">
            <img src="{{ url_for('static', filename='img/input_0.png') }}" alt="Process Data">
            <h3>Process and Augment</h3>
            <p>Process URLs directly to fetch incident reports.</p>
            <div class="details">
                <p>Features in original data: Date/Time, Incident Number, Location, Nature, Incident ORI.</p>
                <p>Features in augmented data: Day of the Week, Time of Day, Weather, Location Rank, Side of Town, Incident Rank, Nature, EMSSTAT.</p>
            </div>
        </div>
        <div class="Feature" id="visualize-feature">
            <img src="{{ url_for('static', filename='img/input_0.png') }}" alt="Visualizer">
            <h3>Visualizer</h3>
            <p>Visualize data with bar charts, line graphs, and pie charts.</p>
            <div class="details">
                <p>Bar charts: Incident counts by nature.</p>
                <p>Line graphs: Incident trends over time.</p>
                <p>Pie charts: Distribution of incidents by nature.</p>
            </div>
        </div>
        <div class="Feature" id="download-feature">
            <img src="{{ url_for('static', filename='img/input_0.png') }}" alt="Download">
            <h3>Download</h3>
            <p>Download the augmented data.</p>
            <div class="details">
                <p>Available formats: CSV, JSON.</p>
                <p>Includes all processed and augmented features.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
